.signin-container
	label Ingresa tu nombre
	input#firstName.Signin-name-input(type='text', name='firstName', tabindex='1', placeholder='gvilarino, juan, etc...')
	button.Signin-button(tabindex='2') Comenzar